<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <img src="assets/icons/pokeball.svg" class="tab-icon" alt="Dashboard">
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pokemon">
      <img src="assets/icons/pokeball.svg" class="tab-icon" alt="Pokédex">
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items">
      <img src="assets/icons/bag.svg" class="tab-icon" alt="Items">
      <ion-label>Items</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="moves">
      <img src="assets/icons/moves.svg" class="tab-icon" alt="Moves">
      <ion-label>Moves</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
